@import 'tailwindcss';

@font-face {
    font-family: "Google Sans";
    src: url('./assets/fonts/GoogleSans_17pt-Regular.ttf') format('truetype');
    font-variant: 100 900;
    font-display: swap;
}

* {
    font-family: 'Google Sans';
}